backEnd/__pycache__/user.cpython-310.pyc
backEnd/__pycache__/shopping.cpython-310.pyc
backEnd/__pycache__/database.cpython-310.pyc
backEnd/__pycache__/good.cpython-310.pyc
backEnd/__pycache__/present.cpython-310.pyc
backEnd/__pycache__/init.cpython-310.pyc

backEnd/__pycache__/router.cpython-310.pyc
__pycache__/
my-app-test/pnpm-lock.yaml
backEnd/__pycache__/database.cpython-39.pyc
backEnd/__pycache__/good.cpython-39.pyc
backEnd/__pycache__/init.cpython-39.pyc
backEnd/__pycache__/present.cpython-39.pyc
backEnd/__pycache__/register.cpython-39.pyc
backEnd/__pycache__/router.cpython-39.pyc
backEnd/__pycache__/shopping.cpython-39.pyc
backEnd/__pycache__/user.cpython-39.pyc
