.card {
    position: relative;
    overflow: hidden;
    width: calc((98.5vw - 17px)/2);
    height: 45vh;
    margin-top: 1vh;
    margin-left: 0.5vw;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* 添加半透明背景以提高可读性 */
    color: #fff;
    opacity: 0; /* 隐藏元素 */
    transition: opacity 0.3s ease;
}
  
.card:hover .overlay {
    opacity: 1; /* 鼠标悬停时显示元素 */
}
  
.name{
    font-size: large;
}

.brief{
    font-size: large;
}
.link {
    text-align: center;
    padding: 10px;
    color: #165DFF;
    text-decoration: none;
}
.link:hover{
    text-align: center;
    padding: 10px;
    color: #165DFF;
    text-decoration: underline;
}
  
.image {
    width: calc((98.5vw - 17px)/2);
    height: 45vh;
}
  