@import '../../assert/font/font.module.css';
.intro{
    margin-top: 20px;
    position: relative;
    font-size: 24px;
    margin-left: 10vw;
}
.uname{
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    width: 25vw;
    margin-top: 20px;
    border: 0.5px solid #0a0a0a;
}
.password{
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    width: 25vw;
    margin-top: 20px;
    background-color: rgb(233, 233, 233);
}
.login{
    display: flex;
    justify-content: center;
}
.title{
    text-align: center;
    margin-top: 30px;
    font-size: 24px;
    font-family: "QFRegular", sans-serif;
}
.subtitle{
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    font-family: "QFRegular", sans-serif;
}
.button{
    border-radius: 100px;
    width: 100px;
    border: 1.5px solid #0a0a0a;
    margin-top: 5px;
    font-family: "playball", sans-serif;
}
.email{
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    width: 25vw;
    margin-top: 20px;
    border: 0.5px solid #0a0a0a;
}