.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    min-height: 100vh; /* 设置最小高度为视口高度，确保在页面底部 */
  }
  
  .logo {
    margin-top: 10px; /* 设置图片与分割线之间的间距 */
  }
  