.search{
    position: absolute;
    left: 70vw;
    top: 1.0vh;
    width: 10vw;
}
.title{
    background-color: #F5F2F4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.im{
    position: absolute;
    left: 33vw;
    top: 1.0vh;
}
.button{
    position: absolute;
    left: 90vw;
    top: 1.0vh;
}