
.search{
    position: absolute;
    left: calc(50% + 300px);
    top: 1.0vh;
    
}
.title{
    /* background-color: #fcf5f9; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.im{
    position: absolute;
    left: calc(50% - 330px);
    top: 1.0vh;
}
.button{
    position:absolute;
    left: calc(50% + 570px);
    top: 1.0vh;
}