@import '../../assert/font/font.module.css';

.charter {
    width: 100%;
    height: 300px;
    max-width: 60vw;
}

.chart {
    width: 100%;
    height: 300px;
    max-width: 40vw;
}

.chart2 {
    width: 100%;
    height: 300px;
    max-width: 75vw;
}

.chart3 {
    width: 100%;
    height: 300px;
    max-width: 75vw;
}

.title {
    margin-top: 60px;
    font-family: "QFRegular", sans-serif;
    font-size: 30px;
}

.title1 {
    font-family: "QFRegular", sans-serif;
    font-size: 20px;
    text-align: center;
}